* {
  box-sizing: border-box;
}

body {
  background-color: #455A64;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: block;
  margin: auto;
  max-width: 959px;
}

section {
  display: inline-block;
  height: 100vh;
}

h1 {
  color: #FFF;
  font-size: 56px;
  font-weight: 800;
}

h1 img {
  margin: 0 15px;
  position: relative;
  top: 2px;
  width: 95px;
}

h3 {
  color: #455A64;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}


h5 {
  color: #455A64;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

hr {
  color: #CFD8DC;
}

input {
  color: #666;
  display: block;
  font-size: 24px;
  margin: 50px 0;
  padding: 4px 10px;
  width: 100%;
}

input::placeholder {
  color: rgba(181, 183, 185, 1);
  letter-spacing: 1.5px;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #FFF inset;
}

a {
  display: block;
  margin: 20px 0;
  overflow-wrap: break-word;
}

a, h5 {
  color: #607D8B;
  text-decoration: underline #F2F4F4;
  font-weight: 400;
}

a:hover,
h5:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration: underline #FFC107;
}

.homestar {
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 468px;
  transition: all 800ms ease;
}

.homestar-onload {
  top: 20%;
  position: relative;
  z-index: 1;
  transform: translateX(50%);
  transition: all 800ms ease;
}

.bookmark-card {
  background-color: #FFF;
  border: 1px solid #607D8B;
  display: none;
  margin: 23px 17px;
  padding: 10px 15px 7px;
  opacity: 0;
  transition: all 800ms ease;
}

.bookmark-fade {
  opacity: 1 !important;
  transition: all 800ms ease;
}

.height-adjust {
  height: 100vh !important;
}

.delete-button {
  float: right;
}

.read-button-clicked {
  color: #F05A28;
}

.read-button-clicked:hover {
  color: #F05A28;
  font-weight: 800;
  text-decoration: none;
}

.read {
  background-color: #F2F4F4;
}

.read a,
.read .delete-button {
  text-decoration: underline #CFD8DC;
}


.left {
  width: 49.56%;
}

.left-onload {
  width: 100%;
}


.card-count-display {
  font-size: 24px;
  text-align: right;
  margin: 50px auto 0;
  border-spacing: 15px;
  border-collapse: separate;
  background-color: #CFD8DC;
  opacity: 1;
  transition: all 800ms ease;
  width: 251px;
}

.card-count-display-onload {
  opacity: 0;
  transition: all 800ms ease;
}

.clear-read-button {
  background-color: #F05A28;
  font-size: 16px;
  width: 251px;
  padding: 5px;
  color: #fff;
  display: block;
  margin: 5px auto 0;
  border: none;
  opacity: 1;
  font-weight: 800;
  transition: all 500ms ease;

}

.clear-read-button:hover {
  background-color: #F69C7E;
  transition: all 500ms ease;
}

.clear-read-button-onload {
  opacity: 0;
  transition: all 800ms ease;
}

.total-cards {
  color: #455A64;
}

.read-cards {
  color: #F05A28;
}

.unread-cards {
  color: #EB7B00;
}


#right {
  background-color: #CFD8DC;
  vertical-align: top;
  width: 50%;
  opacity: 0;
  transition: all 500ms ease;
  overflow: scroll;
  height: 0;
}

#input-submit {
  background-color: #FFC107;
  color: rgba(255,255,255, 1);
  border: none;
  display: block;
  font-size: 16px;
  font-weight: 800;
  padding: 8px;
  width: 100%;
  transition: all 500ms ease;
  cursor: pointer;
}

#input-submit:hover {
  background-color: #FFD773;
  transition: all 500ms ease;
}

#input-submit:disabled {
  background-color: #CFD8DC;
  color: rgba(255,255,255, .3);
  transition: all 500ms ease;
}

@media (max-width: 935px) {
  h1 {
    font-size: 24px;
    text-align: center;
  }
  h1 img {
    width: 41px;
    margin-left: 5px;
    margin-right: 5px;
  }

  section {
    height: 100%;
  }
  input {
    max-width: 100%;
    margin: 19px 0;
  }
 .homestar, .homestar-onload{
    transform: translateX(0);
    position: static;
    display: block;
    margin: 0 auto;
    width: 100%;

  }
  .left, .left-onload {
    width: 100%;
  }
  #right {
    width: 100%;
    background-color: #CFD8DC;
  }

  .card-count-display {
    font-size: 18px;
    margin: 15px auto 10px;
    width: 200px;
    border-spacing: 10px;
  }

  .clear-read-button {
    width: 200px;
  }

}
